<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="TestCases.listener"/>
</listeners>
  
  <test thread-count="5" name="HomePage">
    <classes>
      <class name="TestCases.homePage"/>
       </classes>
  </test> 
  <test thread-count="5" name="LoginPage">
    <classes>
      <class name="TestCases.loginPage"/>
       </classes>
  </test>
<test thread-count="5" name="AutoIT">
    <classes>
      <class name="TestCases.AutoITPage"/>
       </classes>
  </test>
  <test thread-count="5" name="MySqlParameter">
    <classes>
      <class name="TestCases.parameterMySQlServer"/>
       </classes>
  </test>
  <test thread-count="5" name="cloud">
    <classes>
      <class name="TestCases.cloud"/>
       </classes>
  </test>
  
</suite> 
